// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: #ff7777;
}
h1 {
  text-align: center;
}
#newBlog {
  border-radius: 5px;
}
table {
  border-spacing: 20px;
}
